<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>
        Site da bereca
    </title>
   
    <style>
    h1{
        text-align: center;
        color: red;
        background:darkblue;
        }
        
        p{
        text-align:center;
        color:yellow;
        }
        
        img{
        display:block;
        margin:0 auto;
        }

        h2{
            font-family: Courier;
            text-decoration:underline;
            text-align:center;
            background:yellow;
            color:green;
            
            }
            
            ol li
            {
              color:antiquewhite;
              font-weight:bold;
              text-align:center;
              font-size:25px;
              background:greenyellow;
              padding:5px;
            }

            </style>
        
</head>

<body>
  <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Pal%C3%A1cio_do_Planalto_GGFD8938.jpg">
    <h1>BRASIL 2022</h1>

<p><b>bolsonaro</b></p>
<p><i>mito</i></p>
<p><u>2022</u></p>

<ul>
                <li class="itens">bolsonaro</li>
                <li class="itens">mito</li>
                <li class="itens">22</li>
            </ul>
</body>
</html>
