<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>
        Site da bereca
    </title>
   
    <style>
        h1 {
            text-align: center;
            color: red;
            background: darkblue;
        }
        p {
            text-align: center;
            color: red;
        }
        img {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>

<body>
  <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Pal%C3%A1cio_do_Planalto_GGFD8938.jpg">
    <h1>site da bereca </h1>

<p><b>oii</b></p>
<p><i>tudo bem</i></p>
<p><u>bom diaa</u></p>

<ul>
                <li class="itens">bom</li>
                <li class="itens">diaa</li>
                <li class="itens">boa noitee</li>
                <li class="itens">oiii<3</li>
            </ul>
</body>
</html>
